html, body {
	box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: #eee;
	font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4 {
	text-align: center;
	font-weight: 300;
	color: #444;
}

p {
	font-weight: 400;
	color: #666;
}

img {
    max-width: 100%;
}
